.perspective-bloc {
  width: 100%;
  height: 100vh;
  background-color: crimson;
  color: var(--darkFontColor);
  overflow: hidden;

  .perspecitve-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;

    .mountain-img {
      width: 700px;
      height: 481px;
      background-size: cover;
      position: absolute;
      right: 500px;
      bottom: 150px;
      background-repeat: no-repeat;
    }
    .mountain-img2 {
      position: absolute;
      bottom: 100px;
      left: 30%;
      z-index: 0;
      img {
        width: 1200px;
        height: 200px;
      }
    }

    .soleil-img {
      width: 400px;
      height: 400px;
      position: absolute;
      left: 50%;
      background-color: crimson;
      z-index: 0;
      top: 10px;
    }
    .nuage-img.nuage-1 {
      position: absolute;
      left: 60%;
      top: 100px;
      img {
        width: 400px;
        height: 200px;
      }
    }
    .nuage-img.nuage-2 {
      position: absolute;
      left: 10%;
      top: 100px;
      img {
        width: 400px;
        height: 200px;
      }
    }
    .nuage-img.nuage-3 {
      position: absolute;
      left: 40%;
      top: 150px;
      img {
        width: 400px;
        height: 200px;
      }
    }

    .nature-img {
      width: 100vw;
      position: absolute;
      bottom: 0;
    }

    .nature-img img {
      width: 100vw;
    }

    .nuage {
      animation: infinite 200s linear infinite;
    }
    @keyframes infinite {
      0% {
        transform: translateX(50vw);
      }
      100% {
        transform: translateX(-50vw);
      }
    }
  }
}
